# Frontend Environment Variables

# API URL
VITE_API_URL=http://localhost:8000

# Paystack Public Key
VITE_PAYSTACK_PUBLIC_KEY=pk_test_your_key_here

# Google OAuth Client ID (get from Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=1020181826155-j3lsuoqtlkud610v176k9a4d045gped6.apps.googleusercontent.com